* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: #f0f0f0;
    margin: 0 auto;
    text-align: center;
    align-items: center;

    .header_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 25px;
        width: 1240px;
        margin: 0 auto;

        .flex_left,
        .flex_right {
            align-items: center;
            display: flex;
            border-bottom: 1px solid transparent;

            &:nth-child(2):hover {
                text-decoration: underline;
            }

            a {
                cursor: pointer;
                text-decoration: none;
                align-items: center;
                text-align: center;
                color: black;
                margin-right: 15px;
                font-family: 'Gilroy';

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}