*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

    .boxUp {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 10px;

        .pay_add {
            width: 100px;
            padding: 10px;
            border-radius: 12px;
            border: none;
            background: #0047FF;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s ease;
            border: 1px solid #0047FF;

            &:hover {
                background: #fff;
                color: #0047FF;
            }
        }
    }

    table {
        width: 100%;
        display: table;
        padding: 10px;

        thead {
            th {
                text-align: left;
                border-bottom: 1px solid #f0f0f0;
                padding: 15px 0;
                color: #C2C8D7;
            }
        }

        tbody {
            td {
                text-align: left;
                border-bottom: 1px solid #f0f0f0;
                padding: 10px 0;
            }
        }
    }
}