* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-div {
    margin: 0 auto;
    width: 1000px;
}

.todo-text {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

label {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    gap: 20px;
}

label button {
    width: 155px;
    height: 42px;
    background: #0071E3;
    border-radius: 10px;
    color: #fff;
    border: solid transparent;
}

label input {
    width: 321px;
    height: 42px;
    border: 2px solid #007FFF;
    border-radius: 10px;
}


.box {
    width: 282px;
    height: 90px;
    background: #f0f0f0;
    border: 1px solid #007fff;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
}

h2 {
    width: 170px;
    height: 16.6px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-decoration: line-through 2px red;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

span {
    width: 33px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.55);
    font-style: italic;
}

.right {
    padding: 10px;
}

.right button {
    border: none;
    background: url(./img/cancel.svg);
    outline: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.cancelImg {
    color: black;
}

.container {
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.cancel{
    text-decoration: none;
}